@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}
.header-bg{
    background-color: #264653;
}
.btn-orange{
    background-color: #E76F51;
}
